@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Reklame Script W00 Medium";
  src: url("https://db.onlinewebfonts.com/t/c017c9efb81f32559dee68fa54edbde4.eot");
  src: url("https://db.onlinewebfonts.com/t/c017c9efb81f32559dee68fa54edbde4.eot?#iefix")
      format("embedded-opentype"),
    url("https://db.onlinewebfonts.com/t/c017c9efb81f32559dee68fa54edbde4.woff2")
      format("woff2"),
    url("https://db.onlinewebfonts.com/t/c017c9efb81f32559dee68fa54edbde4.woff")
      format("woff"),
    url("https://db.onlinewebfonts.com/t/c017c9efb81f32559dee68fa54edbde4.ttf")
      format("truetype"),
    url("https://db.onlinewebfonts.com/t/c017c9efb81f32559dee68fa54edbde4.svg#Reklame Script W00 Medium")
      format("svg");
}
@font-face {
  font-family: "Brandon Grot W01 Light";
  src: url("https://db.onlinewebfonts.com/t/6dd2f2510b4a00a5461b2455928209c2.eot");
  src: url("https://db.onlinewebfonts.com/t/6dd2f2510b4a00a5461b2455928209c2.eot?#iefix")format("embedded-opentype"),
  url("https://db.onlinewebfonts.com/t/6dd2f2510b4a00a5461b2455928209c2.woff2")format("woff2"),
  url("https://db.onlinewebfonts.com/t/6dd2f2510b4a00a5461b2455928209c2.woff")format("woff"),
  url("https://db.onlinewebfonts.com/t/6dd2f2510b4a00a5461b2455928209c2.ttf")format("truetype"),
  url("https://db.onlinewebfonts.com/t/6dd2f2510b4a00a5461b2455928209c2.svg#Brandon Grot W01 Light")format("svg");
}

:root {
  --dull-orange: #ffae7e;
  --purple: #4a2359;
  --font_0: "Reklame Script W00 Medium";
  --font_7: normal normal normal 26px/1.4em brandon-grot-w01-light,brandon-grot-w05-light,sans-serif;
}

* {
  padding: 0;
  margin: 0;
}

.background {
  background: url("images/banner-lg.png");
  min-height: 100vh;
  width: 100%;
  position: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  z-index: -1;
}
header.header .header-container , .banner .banner-container{
  max-width: 980px;
  width: 100%;
}
.header .logo {
  background-image: url("images/logo-back.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 204px;
  height: 83px;
  object-fit: cover;
  text-decoration: none;
  font-family: var(--font_0);
}
.header .logo span {
  letter-spacing: 0.02em;
  color: var(--dull-orange);
  font-size: 30px;
  line-height: 1.1;
  margin-bottom: 0;
}

.hamburger span {
  background-color: var(--dull-orange);
  height: 2px;
  width: 30px;
  display: block;
  content: "";
}
.menu li a {
  font-family: var(--font_0);
  color: var(--dull-orange);
  font-size: 30px;
  transition: font-size linear 0.2s;
}
.menu li a:hover {
  font-size: 32px;
}
.menu li a:last-child {
  margin-right: 0;
}

.side_bar {
  max-width: 300px;
  width: 95%;
  background-color: var(--purple);
  color: var(--dull-orange);
  opacity: 0;
  right: -100%;
  transition: opacity linear 0.15s;
}

.side_bar .close_icon span {
  background-color: var(--dull-orange);
  height: 2px;
  width: 30px;
  display: block;
  transform-origin: 50% 50%;
  content: "";
  cursor: pointer;
  user-select: none;
}
.side_bar .close_icon {
  height: 20px;
}
.side_bar .close_icon span:first-child {
  transform: rotateZ(45deg);
}
.side_bar .close_icon span:last-child {
  transform: rotateZ(-45deg);
  margin-top: -2.4px;
}

















.banner .heading{
  font-family: var(--font_0);
  font-size: 40px;
  color: white;
}
.banner p{
  font-family: "Brandon Grot W01 Light";
  font-size: 22px;
  color: white;
}
.banner .banner-container .banner_image_cover{
  background: url("../public/images/mobile-frame.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 516px;
  width: 255px;
}
.banner_image_cover .left .mobile_inner{
  height: 75%;
  margin-top: 55px;
  /* padding-top: 55px; */
}



@media screen and (min-width: 768px) {
  .side_bar {
    max-width: auto;
    width: auto;
    display: block;
    opacity: 1;
    right: 0;
  }
  .menu li a {
    font-size: 20px;
  }
  .menu li a:hover {
    font-size: 30px;
  }

}
