@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Reklame Script W00 Medium";
  src: url("https://db.onlinewebfonts.com/t/c017c9efb81f32559dee68fa54edbde4.eot");
  src: url("https://db.onlinewebfonts.com/t/c017c9efb81f32559dee68fa54edbde4.eot?#iefix")
      format("embedded-opentype"),
    url("https://db.onlinewebfonts.com/t/c017c9efb81f32559dee68fa54edbde4.woff2")
      format("woff2"),
    url("https://db.onlinewebfonts.com/t/c017c9efb81f32559dee68fa54edbde4.woff")
      format("woff"),
    url("https://db.onlinewebfonts.com/t/c017c9efb81f32559dee68fa54edbde4.ttf")
      format("truetype"),
    url("https://db.onlinewebfonts.com/t/c017c9efb81f32559dee68fa54edbde4.svg#Reklame Script W00 Medium")
      format("svg");
}
@font-face {
  font-family: "Brandon Grot W01 Light";
  src: url("https://db.onlinewebfonts.com/t/6dd2f2510b4a00a5461b2455928209c2.eot");
  src: url("https://db.onlinewebfonts.com/t/6dd2f2510b4a00a5461b2455928209c2.eot?#iefix")
      format("embedded-opentype"),
    url("https://db.onlinewebfonts.com/t/6dd2f2510b4a00a5461b2455928209c2.woff2")
      format("woff2"),
    url("https://db.onlinewebfonts.com/t/6dd2f2510b4a00a5461b2455928209c2.woff")
      format("woff"),
    url("https://db.onlinewebfonts.com/t/6dd2f2510b4a00a5461b2455928209c2.ttf")
      format("truetype"),
    url("https://db.onlinewebfonts.com/t/6dd2f2510b4a00a5461b2455928209c2.svg#Brandon Grot W01 Light")
      format("svg");
}

:root {
  --dull-orange: #ffae7e;
  --purple: #4a2359;
  --font_0: "Reklame Script W00 Medium";
  --font_7: normal normal normal 26px/1.4em brandon-grot-w01-light,
    brandon-grot-w05-light, sans-serif;
}

* {
  padding: 0;
  margin: 0;
}
body{
  overflow-y: scroll;
  overflow-x: hidden;
}

.background {
  background: url("images/banner-md.png");
  min-height: 100vh;
  width: 100%;
  position: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  z-index: -1;
}
header.header .header-container,
.banner .banner-container ,
.features .feature-container{
  max-width: 980px;
  width: 100%;
}
.header .logo {
  background-image: url("images/logo-back.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 204px;
  height: 83px;
  object-fit: cover;
  text-decoration: none;
  font-family: var(--font_0);
}
.header .logo span {
  letter-spacing: 0.02em;
  color: var(--dull-orange);
  font-size: 30px;
  line-height: 1.1;
  margin-bottom: 0;
}

.hamburger span {
  background-color: var(--dull-orange);
  height: 2px;
  width: 30px;
  display: block;
  content: "";
}
.menu li a {
  font-family: var(--font_0);
  color: var(--dull-orange);
  font-size: 30px;
  transition: font-size linear 0.2s;
}
.menu li a:hover {
  font-size: 32px;
}
.menu li a:last-child {
  margin-right: 0;
}

.side_bar {
  max-width: 300px;
  width: 95%;
  background-color: var(--purple);
  color: var(--dull-orange);
  opacity: 0;
  right: -100%;
  transition: opacity linear 0.15s;
  z-index: 1000;
}

.side_bar .close_icon span {
  background-color: var(--dull-orange);
  height: 2px;
  width: 30px;
  display: block;
  transform-origin: 50% 50%;
  content: "";
  cursor: pointer;
  user-select: none;
}
.side_bar .close_icon {
  height: 20px;
}
.side_bar .close_icon span:first-child {
  transform: rotateZ(45deg);
}
.side_bar .close_icon span:last-child {
  transform: rotateZ(-45deg);
  margin-top: -2.4px;
}

.banner .heading {
  font-family: var(--font_0);
  font-size: 40px;
  color: white;
}
.banner p {
  font-family: "Brandon Grot W01 Light";
  font-size: 22px;
  color: white;
}
.banner .banner-container .banner_image_cover {
  background: url("images/mobile-frame.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 516px;
  width: 255px;
}
.banner_image_cover .left .mobile_inner {
  height: 75%;
  margin-top: 55px;
}


















.features{
  background: url("images/feature_background.jpg");
  background-repeat: no-repeat;
  width: 100vw; 
  min-height: 500px;
  padding: 70px 10px;
  background-size: cover;
  background-position: center;
}
.features .feature_image{
  max-width: 250px;
}
.feature-container .right .heading , .screens .heading{
  font-family: var(--font_0);
  font-size: 45px;
  color: var(--purple); 
}
.feature-container .right p{
  font-family: var(--font_7);
  font-size: 25px;
  font-weight: 200;
  color: var(--purple); 
}
.feature-container .right li p{
  font-family: var(--font_7);
  font-size: 18px;
  font-weight: 300;
  color: var(--purple); 
}
ul.lists{
  list-style-type: disc;
  padding-left: 20px;
}

.social_icons{
  background-color: var(--dull-orange);
  box-shadow: var(--shd,0 1px 19px #4a23595d);
  display: inline-flex;
  padding: 15px;
  border-radius: 40px;
  position: fixed;
  top: 50%;
  left: 10px;
  transform: translateY(-50%);
}
.screens{
  background-color: #fda878;
}
.screens img{
  max-width: 300px !important;
  width: 90%;
}






















@media screen and (min-width: 768px) {
  .side_bar {
    max-width: auto;
    width: auto;
    display: block;
    opacity: 1;
    right: 0;
  }
  .menu li a {
    font-size: 20px;
  }
  .menu li a:hover {
    font-size: 20px;
  }
  .background {
    background: url("images/banner-lg.png");
    background-repeat: no-repeat;
    background-size: cover;
  }
  .features{
    padding: 0px 10px;
    min-height: 780px;
  }
  .feature-container .right .heading , .screens .heading{
    font-size: 60px;
  }
  .feature-container .right p{
    font-size: 30px;
  }
  .feature-container .right li p{
    font-size: 20px;
  }
}
